@use '../../_css/common.scss' as *;

.contactPage {
    h4 {
        font-weight: 500;
    }

    .moreInfo {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        background-color: #f3f3f3;
        padding: 4rem;

        .info {
            margin-top: 30px;
            
            .semiInfo {
                margin-top: 2rem;
                margin-bottom: 2rem;
                // @include small-break {
                //     margin: auto;
                // }

            }
        }

        @include small-break {
            flex-direction: column;
            gap: 0
        }
    }
}