@import "../../../_css/common";

.question {
  font-weight: bold;
  color: #333;
  margin-bottom: 13px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;

  &:focus {
    border-color: var(--color-gray-500);
    outline: none;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-start;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    align-items: center;
    gap: var(--base);
  }


}

.hr {
  margin: 0;
}